Repository debridge-finance/evm-sol-serializer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, prettier-package-json --write

.lintstagedrc.json:

{
    "**/*.ts": [
      "prettier --write",
      "eslint --cache --fix"
    ],
    "package.json": [
      "prettier-package-json --write"
    ]
  }

Readme added
  README.md
  spec/ExternalInstruction.rs
Due: none

WIP: ExternalInstruction for claim_order_unlock
  contracts/examples/DlnClaimUnlock.sol
  contracts/examples/DlnClaimUnlock1.sol
  contracts/examples/DlnClaimUnlock2.sol
  hardhat.config.ts
  test/DlnClaimUnlockExample.test.ts
Due: prettier --write, eslint --cache --fix

Instruction builders finished
  .eslintrc.cjs
  contracts/examples/DLN/library/Base.sol
  contracts/examples/DLN/library/Builder.sol
  contracts/examples/DLN/library/ClaimOrderUnlockBuilder.sol
  contracts/examples/DLN/library/DlnOrderLib.sol
  contracts/examples/DLN/library/InitWalletIfNeededBuilder.sol
  contracts/examples/DLN/mock/LibraryInvoker.sol
  contracts/mocks/HardcodedInstruction0Mock.sol
  contracts/mocks/HardcodedInstruction1Mock.sol
  contracts/mocks/HardcodedInstruction2Mock.sol
  package.json
  scripts/measureConsumption.ts
  test/DlnExample.test.ts
  test/HardcodedInstructionMocks.test.ts
  test/SimpleExample.test.ts
Due: prettier --write, eslint --cache --fix, prettier-package-json --write

Optimized gas usage in DeBridgeSolana
  contracts/library/DeBridgeSolana.sol
  test/DlnLibraryInvoker.test.ts
Due: prettier --write, eslint --cache --fix

Optimized bytes reverse (consumption: 830K -> 270K)
  contracts/library/DeBridgeSolana.sol
Due: none

Optimized constant bytes (270K -> 249K)
  contracts/library/DeBridgeSolana.sol
Due: none

Tiny optimisations (249K -> 208K)
  contracts/library/DeBridgeSolana.sol
Due: none

File renames
  contracts/examples/Basic.sol
  contracts/examples/DLN/library/Builder.sol
  contracts/examples/DLN/library/DlnOrderLib.sol
  hardhat.config.ts
  test/BasicExample.test.ts
  test/HardcodedInstructionMocks.test.ts
Due: prettier --write, eslint --cache --fix

Readme written
  README.md
  contracts/library/DeBridgeSolana.sol
  spec/example.rs
Due: none

Seed struct removed, optimized 208K -> 196K
  contracts/examples/Basic.sol
  contracts/examples/DLN/library/ClaimOrderUnlockBuilder.sol
  contracts/examples/DLN/library/InitWalletIfNeededBuilder.sol
  contracts/library/DeBridgeSolana.sol
  contracts/mocks/DeBridgeSolanaLibraryInvoker.sol
  contracts/mocks/HardcodedInstruction0Mock.sol
  contracts/mocks/HardcodedInstruction1Mock.sol
  contracts/mocks/HardcodedInstruction2Mock.sol
  test/DeBridgeSolanaLibrary.test.ts
Due: prettier --write, eslint --cache --fix

Solidity prettier configured
  .lintstagedrc.json
  contracts/examples/Basic.sol
  contracts/examples/DLN/library/Base.sol
  contracts/examples/DLN/library/Builder.sol
  contracts/examples/DLN/library/ClaimOrderUnlockBuilder.sol
  contracts/examples/DLN/library/DlnOrderLib.sol
  contracts/examples/DLN/library/InitWalletIfNeededBuilder.sol
  contracts/examples/DLN/mock/LibraryInvoker.sol
  contracts/library/DeBridgeSolana.sol
  contracts/mocks/DeBridgeSolanaLibraryInvoker.sol
  contracts/mocks/HardcodedInstruction0Mock.sol
  contracts/mocks/HardcodedInstruction1Mock.sol
  contracts/mocks/HardcodedInstruction2Mock.sol
  package-lock.json
  package.json
Due: prettier-package-json --write

chore: license updated
  LICENSE
  README.md
  contracts/examples/Basic.sol
  contracts/examples/DLN/library/Base.sol
  contracts/examples/DLN/library/Builder.sol
  contracts/examples/DLN/library/ClaimOrderUnlockBuilder.sol
  contracts/examples/DLN/library/DlnOrderLib.sol
  contracts/examples/DLN/library/InitWalletIfNeededBuilder.sol
  contracts/examples/DLN/mock/LibraryInvoker.sol
  contracts/library/DeBridgeSolana.sol
  contracts/mocks/DeBridgeSolanaLibraryInvoker.sol
  contracts/mocks/HardcodedInstruction0Mock.sol
  contracts/mocks/HardcodedInstruction1Mock.sol
  contracts/mocks/HardcodedInstruction2Mock.sol
  package.json
Due: prettier-package-json --write

viaIR removed, optimized: 195K -> 120K
  contracts/mocks/HardcodedInstruction1Mock.sol
  contracts/mocks/HardcodedInstruction2Mock.sol
  hardhat.config.ts
  package-lock.json
  test/HardcodedInstructionMocks.test.ts
Due: prettier --write, eslint --cache --fix

post-increment replaced with pre-increment, gas optimized: 120851 -> 120646
  contracts/library/DeBridgeSolana.sol
Due: none
